{% extends 'base.html' %} {% load static %} {% block pageContent %}
<section class="py-4">
    <div class="container">
        <h3 class="fw-bolder text-center">List of Requests for Books</h3>
        <center>
            <hr class="bg-primary opacity-100" style="height:3px" width="5%">
        </center>
        <div class="card rounded-0 shadow">
            <div class="card-body">
                <div class="container-fluid">
                    <table class="table table-bordered table-striped" id="book-tbl">
                        <colgroup>
                            <col width="5%">
                            <col width="15%">
                            <col width="20%">
                            <col width="15%">
                            <col width="20%">
                            <col width="15%">
                            <col width="10%">
                        </colgroup>
                        <thead>
                            <tr>
                                <th class="text-center">#</th>
                                <th class="text-center">Date</th>
                                <th class="text-center">Student Name</th>
                                <th class="text-center">Book Title</th>
                                <th class="text-center">Borrowing Date</th>
                                <th class="text-center">Return Date</th>
                                <th class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for book in qs %}
                            <tr>
                                <td class="text-center">{{ forloop.counter }}</td>
                                <td>{{ book.date_added|date:"Y-m-d h:i A"}}</td>
                                <td>
                                    <div class="lh-1">
                                        <div>{{ book.student.first_name}} {{ book.student.last_name}}</div>
                                    </div>
                                </td>
                                <td>{{ book.book.title}}</td>
                                <td>{{ book.borrowing_date}}</td>
                                <td>{{ book.return_date }}</td>
                                <td class="text-center">
                                    {% if book.request_status == '2' %}
                                    <span class="badge badge-success bg-gradient bg-success px-3 rounded-pill bg-opacity-75 text-sm py-1">Approved</span> {% else %}
                                    <span class="badge badge-secondary bg-gradient bg-secondary px-3 rounded-pill bg-opacity-75 text-sm py-1">Unapproved</span> {% endif %}
                                </td>
                                <td class="text-center">
                                    <div class="dropdown">
                                        <button class="btn btn-light btn-sm rounded-0 border dropdown-toggle" type="button" id="abtn{{book.pk}}" data-bs-toggle="dropdown" aria-expanded="false">
                                          Action
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="abtn{{book.pk}}">
                                            <li><a class="dropdown-item view-data" href="javascript:void(0)" data-url="{% url 'approve_request' book.pk %}"><i class="fa fa-eye text-dark"></i> approve</a></li>
                                            <li><a class="dropdown-item edit-data" href="javascript:void(0)" data-url="#"><i class="fa fa-edit text-primary"></i> Edit</a></li>
                                            <li><a class="dropdown-item delete-data" href="javascript:void(0)" data-url="#"><i class="fa fa-trash text-danger"></i> Delete</a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock pageContent %}